<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Resubmission</title>
</head>
<body>
    <form action="/submit_referral" method="post">
        <label for="chat_message">Chat Message</label>
        <input type="text" id="chat_message" name="chat_message"><br>

        <label for="referral_id">Referral ID:</label><br>
        <input type="text" id="referral_id" name="referral_id"><br>
        
        <label for="allscripts_facility">Allscripts Facility:</label><br>
        <input type="text" id="allscripts_facility" name="allscripts_facility"><br>
        
        <label for="route">Route:</label><br>
        <input type="text" id="route" name="route"><br>
        
        <label for="patient">Patient:</label><br>
        <input type="text" id="patient" name="patient"><br>
        
        <label for="denial_rationale">Denial Rationale:</label><br>
        <input type="text" id="denial_rationale" name="denial_rationale"><br>
        
        <input type="submit" value="Submit">
    </form>
</body>



</html>